/* src/components/splash.css */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(4, 4, 54); /* Adjust color as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .splash-content {
    text-align: center;
    color: white;
  }
  
  .logo {
    width: 400px; /* Set width */
    height: 400px; /* Set height to match width for a circle */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the circle properly */
    margin-bottom: 20px;
    display: block; /* Ensures the image is treated as a block element */
    margin-left: auto; /* Centers the image horizontally */
    margin-right: auto; /* Centers the image horizontally */
  }
  
  h1 {
    font-size: 50px; /* Adjusted font size */
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
  }
  